{% extends 'mailings/base.html' %}
{% load static %}

{% block content %}

<div class="row mb-2">

    <div class="col-md-6 mb-4">
        <div class="row g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <h3 class="mb-0">{{ blog.title }}</h3>
                <div class="mb-1 text-body-secondary">{{ blog.date_of_publication }}</div>
                <p class="card-text mb-auto">{{ blog.content }}</p>
                <div class="mb-1 text-body-secondary">Number of views: {{ blog.number_of_views }}</div>
                <a class="btn btn-outline-primary" href="{% url 'mailings:update_blog' blog.pk%}">Изменить</a>
                <a class="btn btn-outline-success" href="{% url 'mailings:create_blog' %}">Добавить</a>
                <a class="btn btn-outline-danger" href="{% url 'mailings:delete_blog' blog.pk%}">Удалить</a>

            </div>
            <div class="col-auto d-none d-lg-block">
                {% if blog.image %}
                <img src="{{ blog.image.url }}" alt="Blog Image" width="200" height="250">
                {% else %}
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"/>
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                </svg>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}